body{
    background-image: url(../assets/monkey_d__luffy_in_black_background_hd_one_piece-1920x1080.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.text-font{
    font-family: sans-serif;
    color: white
}
